<div class="menu">
    <div class="contact-menu">CONTACT OFER
        <div class="dropdown-content">
            <a href="https://api.whatsapp.com/send?phone=972528806979">0528806979</a>
            <a href="https://www.instagram.com/chef.ofer.hermoni.tenka/">&#64;chef.ofer.hermoni.tenka</a>
            <a href="https://www.facebook.com/ofer.hermoni.5">Ofer Hermoni</a>
        </div>
    </div>
    <div class="menu-buttons">
        <div class="btn">MENUS</div>
        <div class="btn">GALLERY</div>
        <div class="btn">ABOUT</div>
    </div>
</div>
