.menu {
    width: 100vw;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    padding: 40px 60px;
    color: #ebebeb;
    letter-spacing: 0.2em;
    z-index: 2;
}

.menu-buttons {
    display: flex;
}

.btn {
    margin: 0 20px;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
}

.btn::after {
    content: "";
    position: absolute;
    width: 90%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.08em;
    top: 32px;
    left: 2%;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.btn:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.contact-menu {
    z-index: 5;
    cursor: pointer;
    height: 30px;
}

.open-contact-menu {
    position: relative;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    cursor: default;
}
  
.dropdown-content {
    height: 0;
    opacity: 0;
    position: absolute;
    background-color: #cdcdcd;
    transition: all .5s ease;
    z-index: -2;
    left: 0;
    top: 0;
    padding: 90px 0;
}


.visible-dropdown-content {
    opacity: 0.9; 
    height: 100svh;
    z-index: 1;
}
  
.menu-item {
    color: rgba(0, 0, 0, 0.7);
    padding: 15px 60px;
    text-decoration: none;
    display: block;
    cursor: default;
    pointer-events: none;
}

.menu-item div {
    display: flex;
    align-items: center;
}

.menu-item img{
    height: 30px;
    margin: 0 15px 0 0;
    opacity: 0.7;
}

.active-menu-item {
    cursor: pointer;
    pointer-events: auto;
}
  
.active-menu-item:hover {
    background-color: #ddd;
    
}

.close {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0.8;
    transition: 0.2s ease-in;
    margin: 25px 35px;
    right: 0;
    top: 0;
}

.close:hover {
    opacity: 1;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 21px;
    width: 1.5px;
    background-color: #191919;
    border-radius: 8px;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

@media screen and (max-width:990px){
    .menu {
        flex-direction: column;
        font-size: 1.1rem;
    }

    .btn{
        margin: 10px 20px;
    }

    .btn::after {
        top: 27px;
    }

    .dropdown-content {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .menu-item {
        width: 100%;
    }
}


@media screen and (max-width:450px){
    .menu {
        font-size: 1.1rem;
    }

    .menu-item {
        letter-spacing: 0.7mm;
        padding: 15px 50px;
    }
}

@media screen and (max-width:410px){
    .menu {
        font-size: 1rem;
    }

    .btn{
        margin: 10px 15px;
    }

    .btn::after {
        top: 27px;
    }

    .menu-item {
        letter-spacing: 0.7mm;
        padding: 15px 50px;
    }
}