.background {
    height: 100dvh;
    background-image: url("../../../assets/images/background.png");
    background-position: 25% 75%;
    position: absolute;
    width: 100%;
    background-size: cover;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    padding: 95px;
    flex-wrap: wrap;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    color: #f6f6f6;
    margin: 60px 0;
}

.title {
    font-size: 7.5rem;
}

.subtitle {
    font-size: 2rem;
    padding: 0 15px;
    letter-spacing: 0.05cm;
}

img {
    -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.side-images {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: flex-end;
}

.bottom-images {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.salmon {
    height: 155px;
    width: 165px;
    margin: 0 0 0 0;
}

.edamame {
    height: 100px;
    margin: 0 175px 35px 0;
    align-self: flex-end;
}

.tuna-tataki {
    height: 170px;
    margin: -30px 125px 0px 0;
    align-self: flex-end;
    rotate: 25deg;
}

.yakitori {
    height: 160px;
    margin: 0 25px 0 0;
}

.wakame {
    height: 140px;
    margin: 55px 160px 10px 0px;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.7s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@media screen and (max-width:1475px){
    .yakitori {
        height: 125px;
        margin: 25px 25px 0 0;
    }

    .tuna-tataki {
        height: 140px;
        margin: -15px 65px 0px 0;
    }

    .edamame {
        height: 90px;
        margin: 0 175px 35px 0;
    }

    .salmon {
        height: 135px;
        width: 145px;
    }
}

@media screen and (max-width:1400px){
    .title {
        font-size: 6.5rem;
    }
    
    .subtitle {
        font-size: 1.6rem;
        padding: 0 15px;
        letter-spacing: 0.05cm;
    }

    .wakame {
        height: 110px;
        margin: 55px 160px 0px 0px;
    }

    .yakitori {
        height: 110px;
        margin: 50px 20px 0 0;
    }

    .tuna-tataki {
        height: 140px;
        margin: -15px 65px 0px 0;
    }

    .edamame {
        height: 75px;
        margin: 0 175px 30px 0;
    }

    .salmon {
        height: 120px;
        width: 130px;
    }
}

@media screen and (max-width:990px){
    .background {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        padding: 20px;
    }

    .title-container {
        align-items: center;
        margin: 80px 0 55px 0;
    }

    .title {
        font-size: 6rem;
        text-align: center;
        margin: 0 0 10px 0;
    }
}

@media screen and (max-width:800px){

    .title {
        font-size: 5.5rem;
    }
}

@media screen and (max-width:720px){

    .title {
        font-size: 5rem;
    }
}

@media screen and (max-width:600px){

    .title {
        font-size: 5rem;
    }

    .subtitle {
        font-size: 1.4rem;
    }

    .title-container {
        margin: 20px 0 50px 0;
    }
}

@media screen and (max-width:410px){

    .title-container {
        margin: 5px 0 50px 0;
    }

    .title {
        font-size: 4rem;
    }

    .subtitle {
        font-size: 1.2rem;
    }

}

