/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* 
button, 
button:focus,
button:active {
    border: none !important;
    outline: none !important;
    outline-style: none !important;
    background-color: #ffffff00;
}

.custom-dialog-container {
    border-radius: 16px;
    overflow: hidden;
}

.images-carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    height: 70svh;
}

.carousel-control {
    position: relative;
    background-color: #ffffff00;
    height: 100px;
    width: 45px;
    text-align: center;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    border: none;
    cursor: pointer;
    transition:all 0.7s;
    -webkit-transition:all 0.7s;
    -moz-transition: all 0.7s;
  }

  .left {
    padding-right: 5px 
  }

  .left-arrow-icon {
    margin: auto;
    height: 22px;
    width: 13px;
  }

  .left:hover .left-arrow-icon {
    background: url('./assets/images/left-arrow-hover.png');
  }

  .right {
    padding-left: 5px;
  }

  .right-arrow-icon {
    margin: auto;
    height: 22px;
    width: 13px;
  }

  .right:hover .right-arrow-icon {
    background: url('./assets/images/right-arrow-hover.png');
  }  */
